
/* custom Cursor */
html{
    cursor: url(https://cur.cursors-4u.net/symbols/sym-6/sym599.cur), auto !important;
}
/* -- custom Cursor */

/* text styling */
    h1{
        padding:8px;
        border-radius:8px;
        margin:0;
        font-size:64px;
        font-family: 'aileron', sans-serif;
    }

    h3{
        font-family: 'aileron', sans-serif;
    }

    body {
        font-family: 'aileron', sans-serif;
        margin: 0;
    }

    p{
        line-height: 1.5;

    }

    main{
        margin: 0 auto;
    }

    a{
        text-decoration: none;
        color: black;
    }

    nav a:hover{
        text-decoration: none;
        color: black;

    }

    /* remove if you dont like the menu fonts! */
    button {
        font-family: 'aileron', sans;
        font-weight: 500;
        font-style: bold;   
        color: black;    

    }
/* -- text styling */


/* Navigation */
    nav {
        height: 50px;
        background:white;
        border: white;
        width:100%;
        margin:0;
        position:fixed;
        font: size 20px;
        display:flex;
        justify-content: space-between;
        padding: 0 16px 0 0;
        box-sizing: border-box;
        z-index:100;
    }

    nav a{
        padding:0 32px;
        color: black;
        transition: 0.4s;
    }

    nav a:hover{
        text-decoration: none;
        color: black;
    }

    nav ul{
        display: flex;
        list-style: none;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        margin: 0;
    }

    .active{
        color: white;
    }

    #logo-img{
        display: flex;
        background: transparent;
        padding: 0;
        align-items: center;
        color: white;
        transition: .4s;
    }

    #logo-img img{
        height: 250px;
        align-items: center;
    }


    #menu-icon{
        height: 100%;
        font-size: 28px;
        padding: 0 4px;
        color: #eee;
        display: none;
        align-items: center;
    }

    #book-button{
        background-color: gray;
        padding: 10vw 24vw;
        border-radius: 8px;
        border: gray;
        color: black;
        font-family: 'aileron', sans-serif;
    }
/* -- Navigation */


/* Sections */
    section{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .section-heading{
        font-size: 32px;
        font-family: 'aileron', sans-serif;
        border-left: 3px solid black;
        border-right: 3px solid black;
        transition: all 0.4s;
        display: inline-block;
        padding: 4px 32px;
    }

    .section-heading:hover{
        padding: 4px 48px;
        background: black;
        color: white;
    }
/* Sections */

/* info page */
    #spa-info{
        padding: 70px;
    }
/* info page */



/* Banner */
    #banner{
        height: 55vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: white url("../assets/hero.png");
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-blend-mode: overlay;
        color: black;
    }

    #banner .banner-image{
        width: 50vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: 50vw;
    }

    #banner .banner-title{
        font-size: 4vw;
        color: #black;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: "aileron", sans-serif;
    }

    #banner a{
        position: absolute;
        background-color: black;
        border: black; 
        color: white;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 14px 40px;
        font-family: "aileron", sans-serif;
        border-radius: 15px;
        cursor: pointer;
        outline: 0;

    } 

    #banner .banner-desc{
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-family:"aileron", sans-serif;
        color: white;

    }

    #banner a:hover{
        background: transparent;
        color: black;
    }

    #banner h3{
        position: absolute;
        background: black;
        border-radius: 8px;
        padding: 0 24px;
        font-size: 24px;
    }
/* -- Banner */


/* Footer */ 
    footer{
        background-color: #FFD1DC;
        color: black;
        display: fixed;
        margin-top: 50px;
    }

    footer h3{
        font-size: 2vw;
    }

    footer p{
        font-size: 1vw;
        text-align: center;
    }

    footer a{
        color: black;
    }
/* -- Footer */ 

/* Footer border */
    hr.footerBorder {
        border-top: 1px solid;
    }

/* Collapsibles: home page */
/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: right;
    outline: none;
    font-size: 5vw;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #FFD1DC;
    color: black;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: white;
  }

  .collapsible:after {
    content: "★"; /* Unicode character for "plus" sign (+) */
    color: black;
    font-size: 30px;
    color: black;
    float: left;
    margin-left: 5px;
  }
  
  .active:after {
    content: "☆"; /* Unicode character for "minus" sign (-) */
  }

  /* -- Collapsibles: home page */

  /* Collapsibles: menu pages */
/* Style the button that is used to open and close the collapsible content */
.collapsible-menu {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible-menu:hover {
    background-color: #FFD1DC;
    color: black;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content-menu {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: white;
  }

  .collapsible-menu:after {
    content: "★"; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "☆"; /* Unicode character for "minus" sign (-) */
  }

  /* -- Collapsibles: menu pages */

/* Mobile Banner */ 
    #mobile-banner{
    display: none;
    position: sticky;
    padding-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    }
/* Mobile Banner */ 

/* Mobile Page Headers */
    #mobile-header{
        display:none;
        text-align: center;
    }

/* Mobile Page Headers */

/* Result Picture Styling */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* Result Picture Styling */

/* Media Queries */

@media(min-width:720px){

    #slideout-menu{
        display: none;
    }

}

@media(min-width: 1200px){
  
    #slideout-menu{
        display: none;
    }

}

@media(max-width: 900px){

    nav ul{
        display: none;
    }

    #menu-icon{
        display: flex;
    }

    #slideout-menu{
       display: block;
    }

}

@media(max-width:800px){

    #slideout-menu{
        display: block;
    }

    #banner{
        display: none;
    }

}

@media(max-width:650px){

    main{
        padding-top: 80px;
    }
    
    h1{
        font-size: 48px;
    }

    #banner h3{
        font-size: 20px;
    }

    #banner{
        display: none;
    }

    #mobile-banner{
        display: block;
    }

    #mobile-header{
        display: block;
    }

    #slideout-menu{
        display: block;
    }

    footer{
        display: none;
    }

}

@media(max-width:415px){

    main{
        padding-top: 80px;
    }
    
    h1{
        font-size: 30px;
    }

    #banner h3{
        font-size: 20px;
    }

    #banner{
        display: none;
    }

    #mobile-banner{
        display: block;
        position: static;
    }

    #mobile-header{
        display: block;
    }

    #slideout-menu{
        display: block;
    }

    footer{
        display: none;
    }

}
/* Media Queries */